<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 loginForm">
            <div class="form_div">
                <p class="form_label">LOGIN HERE</p>
                <form method="POST" action="">
                    <p><input type="text" placeholder="Enter Email" id="emailInput" /></p>
                    <p><input type="password" placeholder="**********" id="passwordInput" /></p>
                    <p><button type="submit" class="glow-on-hover" id="form-login">Login</button></p>
                </form>
            </div>
        </div>
        <div class="col-md-6 signupForm">
            <div class="form_div">
                <p class="form_label">SIGNUP HERE</p>
                <form method="POST" action="" class="signup">

                    <p><input type="text" placeholder="Enter Email" id="signUpEmail" /></p>
                    <p><input type="password" placeholder="Enter Password" id="signUpPassword" /></p>
                    <button type="submit" class="glow-on-hover" id="signUpBtn">Sign Up</button>
                </form>
            </div>
        </div>
    </div>

    <div class="container-flex">
        <div class="jumbotron">
            <h1 class="titleH1">Three Card Tarot Reading</h1>
        </div>
        <div class="row">
            <div class="col-md-12 instructions">
                The three card reading is one of the simplest tarot card spreads. Their are readings for your past,
                present and future. Take these readings lightly and remember its just for fun! Click the Get Reading
                button when ready!
            </div>
        </div>


        <div class="row">
            <div class="col-md-12 readingBtn"><button type="button" class="btn btn-primary btn-lg glow-on-hover"
                    id="myReading">Get Reading</button>
            </div>
        </div>



        <div class="container-flex">
            <div class="row">
                <div class="col-sm-4">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h2 class="cardH2">Past</h2>
                            <div class="cardReadings" id="img-1"></div>
                            <div class="cardReadings cardName" id="cardName1"></div>
                            <div class="cardReadings" id="info-1"></div>
                        </div>
                    </div>




                </div>
                <div class="col-sm-4">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h2 class="cardH2">Present</h2>
                            <div class="cardReadings " id="img-2"></div>
                            <div class="cardReadings cardName" id="cardName2"></div>
                            <div class="cardReadings" id="info-2"></div>
                        </div>
                    </div>




                </div>
                <div class="col-sm-4">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h2 class="cardH2">Future</h2>
                            <div class="cardReadings" id="img-3"></div>
                            <div class="cardReadings cardName" id="cardName3"></div>
                            <div class="cardReadings" id="info-3"></div>
                        </div>
                    </div>




                </div>
            </div>
        </div>
    </div>